.project{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  margin-top: 80px;
  color: white;
}

.project h1{
  text-align: center;
  font-size: 2.8rem;
  background: linear-gradient(90deg, #21BCFF 0.9%, #7C86FF 102.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project h1::after{
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  margin: 12px auto 0;
  border-radius: 5px;
  background: linear-gradient(90deg, #21BCFF 0.9%, #7C86FF 102.1%);
}

.project-container{
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 35px;
}

.project-card{
  padding: 35px;
  border-radius: 25px;
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.12);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(33,188,255,0.12);
  transition: 0.3s ease;
}

.project-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 0 30px rgba(33,188,255,0.3);
}

.projectTitle{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
  line-height: 45px;
}

.projectDesc{
  text-align: center;
  font-size: 1.2rem;
  line-height: 38px;
  color: #d6d6d6;
}
.project-card:last-child{
  grid-column: 1 / -1;
  justify-self: center;
  width: 50%;
}